.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 12px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eee;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: #646cff;
  }
  &:focus, &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  &.active {
    border-color: #646cff;
  }
}
